// Creaition Image Editor - SCSS Variables
$primary-grey: #efefee;
$secondary-grey: #bebebe;
$background: #f0f0f0;
$white: #ffffff;
$black: #000000;
$text-color: #000000;

$font-family-primary: 'strokeWeight', 'Eina03', sans-serif;
$font-weight-normal: 60;
$font-weight-medium: 80;
$font-weight-semibold: 120;
$font-slant-normal: 0;
$font-slant-italic: 12;

$border-radius-btn: 50px;
$border-radius-input: 0px;
$border-radius-card: 1rem;
$button-height: 35px;
$input-height: 50px;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;