@use '../../../styles/variables' as *;
@use '../../../styles/mixin' as *;

.image-editor-wrapper {
  width: 100%;
  height: 100vh;
  background: $background;
  
  .tui-image-editor-container {
    width: 100%;
    height: 100%;
  }
}

// mobile responsiveness
@media (max-width: $breakpoint-md) {
  .image-editor-wrapper {
    height: 80vh;
  }
}