@use './styles/_variables.scss' as *;
@use './styles/_mixin.scss' as *;
@use './styles/tui-image-editor-theme' as *;
/* You can add global styles to this file, and also import other style files */
@import url('./assets/fonts/fonts.css');

// global styles
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  @include font-variation();
  color: $text-color;
}

html, body {
  height: 100%;
}

// Angular Material button overrides
.mat-button {
  @include button-base;
  
  &.mat-primary {
    background: $black !important;
    color: $white !important;
  }
}

// responsive utility classes
.mobile-only {
  display: none !important;
  
  @media (max-width: $breakpoint-md) {
    display: block !important;
  }
}

.desktop-only {
  display: block !important;
  
  @media (max-width: $breakpoint-md) {
    display: none !important;
  }
}